@font-face {
  font-family: 'Circular Thin';
  src: url(/src/assets/fonts/CircularSp-Book.woff2) format('woff2');
}
@font-face {
  font-family: 'Circular Regular';
  src: url(/src/assets/fonts/Circular-Regular.woff2) format('woff2');
}
@font-face {
  font-family: 'Circular Black';
  src: url(/src/assets/fonts/CircularSpTitle-Black.woff2) format('woff2');
}

a {
  transition: all 0.15s ease;
}

.secondary-text {
  color: #929292;
}

a:hover {
  filter: brightness(110%);
  text-decoration: none;
}

.bg-gradient-1 {
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
  --tw-gradient-from: rgb(80, 56, 160) var(--tw-gradient-from-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-from-position: 0%;
  --tw-gradient-to: var(--background-base) var(--tw-gradient-to-position);
  --tw-gradient-to-position: 150%;
}

.bg-gradient-2 {
  background-image: linear-gradient(rgba(80, 56, 160, 0.2) 0, var(--background-base) 40%),
    var(--background-noise);
  background-color: var(--background-base);
}

.text-orange {
  color: #f59e0b !important;
  fill: #f59e0b !important;
}

.card-header .fa.text-orange,
.card .card-header .fas.text-orange {
  color: #ff5e3a;
  fill: #ff5e3a;
}

.introduction-bg {
  animation: slide 50s linear infinite;
  will-change: background-position;
  z-index: -1;
}

.upload-dropbox.upload-dropbox-drag {
  color: #fff;
  background-color: var(--musicfy-green);
  border-color: var(--musicfy-green);
  border-style: solid;
}

input[type='file'] {
  margin-top: 20px;
  background-color: #262626;
}

/* Extend touchable area above and below slider to improve accessibility */
.p-slider::before {
  content: '';
  position: absolute;
  height: 10px;
  top: -3px;
  left: 0;
  right: 0;
  background: transparent;
}

#nprogress .bar {
  border: 1px solid var(--musicfy-green);
}

/* Upload files progressbar */
.progress-bar {
  background-size: 1rem 1rem;
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  animation: progress-bar-stripes 1s linear infinite;
}

.music-bg {
  animation: slide 50s linear infinite;
  will-change: background-position;
}

@keyframes progress-bar-stripes {
  0% {
    background-position: 1rem 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes slide {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -4000px 0;
  }
}
